// Material Colors
$red        :   #F44336;
$pink       :   #E91E63;
$purple     :   #9C27B0;
$indigo     :   #3F51B5;
$blue       :   #2196F3;
$cyan       :   #00BCD4;
$teal       :   #009688;
$green      :   #4CAF50;
$lime       :   #CDDC39;
$yellow     :   #FFEB3B;
$amber      :   #FFC107;
$orange     :   #FF9800;
$brown      :   #795548;

// Grayscale
$white      :   #FFFFFF;
$gray       :   #9E9E9E;
$black      :   #000000;

// Variables
$primary-color      : $blue;
$secondary-color    : $pink;

$background-color   : $white;
$text-color         : $black;

$header-background  : $white;
$footer-background  : $white;
